.input-group {
  margin-bottom: 30px;
  border-top: 1px solid #d8d8d8;
}

.form-input {
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  
  // 只读蒙层
  &.readonly::before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: transparent;
  }
  // label输入框
  label {
    pointer-events: none;
    color: #999;
    transition: all .3s;
    position: absolute;
    left: 30px;
    top: 18px;
    max-width: 190px;
    font-size: 28px;
    line-height: 60px;
    
    + input { padding-left: 200px; }
  }
  
  label,
  .r_btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  
  input {
    border: none;
    font-size: 28px;
    line-height: 40px;
    padding: 25px 70px 25px 30px;
    
    &::-webkit-input-placeholder { font-size: 28px; }
  }
  // 清楚按钮 + 右侧按钮
  .clear,
  .r_btn {
    position: absolute;
    z-index: 9;
    color: #888;
    display: none;
    top: 18px;
    right: 25px;
    height: 60px;
    line-height: 60px;
    
    &:active { opacity: .7 }
  }
  
  .clear {
    width: 44px;
    font-size: 32px;
    text-align: center;
  }
  
  &.focus .clear {
    display: block;
    
    &:before { content: '\e658'; }
  }
  
  &.flt {
    padding-top: 48px;
    
    label + input { padding-left: 30px; }
    
    input {
      padding: 0 70px 10px 30px;
      
      &::-webkit-input-placeholder { opacity: 0 }
    }
    
    label,
    .clear,
    .r_btn { top: 38px; }
    
    &.on label,
    &.focus label {
      font-size: 24px; top: 0;
    }
    
    .err-tip { margin-top: -20px; }
  }
  
  .err-tip {
    display: none;
    font-size: 24px;
    padding: 10px 60px 0 30px;
    margin-top: -30px;
  }
  
  &.error {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      z-index: 10;
      background: #f00;
      animation: scaleX-in .5s;
    }
    
    .err-tip {
      display: inline-block;
      color: #f00;
      text-align: left;
      pointer-events: none;
    }
  }
  
  input {
    display: block; width: 100%;
  }
}

@keyframes scaleX-in {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}

