//
html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

body {
  position: relative;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    z-index: 99999;
    content: '';
    opacity: 0;
    transition: width 2s cubic-bezier(.2, .8, .9, 1);
    background-color: #0087FF;
  }
  &.transition {
    &::before {
      width: 85%;
      opacity: 1;
    }
    
    &.on:before {
      width: 100%;
      transition: width .3s ease-in;
    }
  }
}

ul,
li {
  list-style: none;
}

i,
em,
u {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

img {
  vertical-align: top;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}

a {
  touch-action: manipulation;
  text-decoration: none;
}

input,
textarea,
select {
  user-select: text;
}

button,
input,
textarea,
select,
input[type=number]::-webkit-inner-spin-button,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  border: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-Multi {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

button, .btn:extend(.ellipsis) {
  position: relative;
  border: none;
  text-align: center;
  line-height: 88px;
  padding: 0 20px;
  font-size: 32px;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #444;
  
  &:active { opacity: .7 }
  &:disabled { opacity: .4 }
  &.btn-block { display: block; }
  
  > .icon-font { font-size: 42px; margin-right: 12px }
}

.btn {
  &.btn-positive { color: #49a6ff; }
  &.btn-default { color: #333 }
}

button {
  background: #49a6ff;
  color: #fff;
  margin: 30px auto;
  display: block;
  width: 88%;
  
  &.btn-default { color: #333 }
}

.row {
  &::before {
    display: table;
    content: '';
  }
  
  &::after {
    clear: both;
    display: table;
    content: '';
  }
  
  > [class ^='col'] {
    position: relative;
    min-height: 1px;
    float: left;
    text-align: center
  }
  .col-6 { width: 50%; }
  .col-4 { width: 33.33333333%; }
  .col-3 { width: 25%; }
}

.flex-box {
  display: flex;
  
  > .flex {
    flex: 1;
  }
}

.item-view {
  position: relative;
  font-size: 32px;
  background: #fff;
  border-top: 1px solid #d8d8d8;
  
  .item-list {
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    padding: 24px 30px;
  }
}



